body{
  background-color: white;
  /* background-color:#bae1ff; */
}
h1{
  color: #363131;
  text-align: center;
  margin: 20px;
  padding: 30px;
}
h3{
  color: #363131;
}
.num1{
  text-align: center;
}
.num2{
  text-align: center;
}
.one{
  font-size: 30px;
}

.two{
  font-size: 30px;
  text-align: center;
}
.btn{
margin-top: 50px;
margin-left: 50%;
}
